*{
    box-sizing: border-box;
}
body{
    background-color: hsl(0,100%,74%);
    font-size: 16px;
    
    font-family: 'Poppins', sans-serif;
    background-image: url(images/bg-intro-desktop.png);

}
/*Mobile design*/
.row{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 100%;
}

.form-area{
    width: 50%;
    margin-left: 10%;
}

.main-text h1{
    font-weight: 700;
    font-size: 30px;
    color: white;
    text-align: center;
   
}
.main-text p{
    font-weight: 400;
    color: white;
    text-align: center;
}
form{
    box-shadow: 0 10px 0 rgba(0, 0, 0, 0.1);
}


.form-area button{
    background-color:hsl(248,32%,49%);
    width: 160%;
    height: 50px;
    border-radius: 10px;
    box-shadow: 0 10px 0 rgba(0, 0, 0, 0.1);
    border:thin;
    
}
.form-area button p{
    font-family: 'Poppins',sans-serif;
    color: white;
}


.form-body{
    background-color: white;
    margin-top: 10%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    width: 160%;
}

.form-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-elements{
    width: 80%;
    margin-left: 8%;
    margin-top: 0.5px;
}
input,.submit-btn{
    margin-top: 0.5px;
    width: 105%;
    padding: 9px 6px;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    font-family: 'Poppins',sans-serif;
    font-weight: 700;
    border-color: grey;
}
#fname{
    margin-top: 30px;
}
.submit-btn{
    box-shadow: 0 8px 0 rgba(0, 0, 0, 0.1);
}
.form-elements .submit-btn{
    max-width: 105%;
    border-radius: 4px;
    background-color: hsl(154, 59%, 51%);
    color: white;
}

.form-elements p{
    font-size: 8px;
    text-align: center;
    margin-bottom: 35px;
}
footer{
    display: flex;
    justify-content: center;
    align-items: baseline;
}

@media only screen and (min-width: 800px) {
    .main-text{
        position: absolute;
        top: 40%;
        bottom: 50%;
        left: 10%;
        text-align: left;
        max-width: 40%;
        
    }
    .form-area{
        margin-left: 15%;
        top: 10%;
        bottom: 90%;
        width: 30%;
        position: absolute;
        left: 35%;
        right: 10%;  
        
        float: right;
    
    }
    .main-text h1{
        font-weight: 700;
        font-size: 30px;
        color: white;
        text-align: left;
       
    }
    .main-text p{
        font-weight: 400;
        color: white;
        text-align: left;
    }
    
}